#filtering {
    min-width: 300px;
}

#wrapper {
    margin: 0% 1% 2% 1%;
}

@media only screen and (max-width: 768px) {
    #desktopMenu {
        display: none !important;
    }

    #mobileMenu {
        display: flex;
    }
}

@media only screen and (min-width: 769px) {
    #mobileMenu {
        display: none;
    }
}


  #mapId {
    height: 90%;
  }
  
