/* Used to push down the footer down to bottom when not enouch content*/
body {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: 260px !important;
}

/* END */

#filtering {
    min-width: 275px;
}

#wrapper {
    margin: 0% 1% 2% 1%;
}

#mapId {
    height: 90%;
    width: 110%;
}

.weatherwidget-io {
    max-height: 220px;
}

@media only screen and (max-width: 767px) {
    #desktopMenu {
        display: none !important;
    }

    #mobileMenu {
        display: flex;
    }

    #mapId {
        height: 27em !important;
        width: 100%;
    }

    #wrapper {
        margin: 1% 1% 1% 1%;
    }

}

@media only screen and (min-width: 768px) {
    #mobileMenu {
        display: none;
    }
}


  #mapId {
    height: 90%;
  }
  
